<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login_attempt">
        <observer name="forbesons_keycloak_prevent_password_login" instance="Forbesons\Keycloak\Observer\PreventKeycloakPasswordLogin"/>
    </event>
</config>